<launch>
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find jetson_racer)/urdf/jetracer.xacro'"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find jetson_racer)/rviz/jetracer.rviz"/>
    
    <node name="joint_state_publisher" pkg="jetson_racer" type="joint_state.py"/>
    <!--node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/-->
    <!--node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/-->
</launch>
